body{
	background-color:#cdf2eb;
	 font-family:verdana;
	 font-size: 20px;
	 font-family:'Monospace',Lucida Console;
}
hr{
	border-style: dotted none none none;
	width: 8%;
	border-color: #b2d4c4;
	border-width: 10px;
	padding: 20px;
	}
h1{
	color:black;
	font-family: cursive;
	font-size: 300%;
}
h3{
	color: #285f8f;
	font-size: 35px;
}
a{
	text-decoration: none;
}
#profile{
	border-radius: 200px;
	border: solid 0px black;
	margin: 10px;
	background-color: white;
	width: 100px;
	height: 120px;
	padding: 20px;
}
.cloud{
	width: 200px;
	height: 220px;
	margin: 0 auto 0 auto;
}
.top-cloud{
	position: relative;
	left:20%; 
	size: 100px;
	margin-top: 10px;
}
.bottom-cloud{
	position: relative;
	right: 20%;
	size: 100px;
}
.mountain{
	border-radius: 10%;
	width: 60%;
	padding: 25px;
}
.hobbies,.skills{
	border-radius: 200px;
	width: 30%;
	padding: 20px;
}
		h2{
			color: #300052;
			font-size: 26px;
		}
		.hobby-container{
			font-family: monospace;
			font-style: bold;
			width: 60%;
			color: #03315e;
		}
.learn-image{
			padding: 25px;
		}
        .hobby-class{
        	border: solid 2px #15324d;
        	border-radius: 30px;
        	padding: 5px;
        	font-family: cursive;
        	font-size: 120%;
        	width: 95%;
        	color: #822222;
        }
 a{
 	text-decoration: none;
 	color: #4dbfa8;
 }
 a:hover{
 	color: white;
 }
 footer{
 	background-color:#00b8d9;
 	margin-bottom: 0px;
 	width: 100%;
 	padding: 20px;
 	margin-left: 0px;
 	margin-right: 0px;
 	margin: auto;
 	color: white;
 }
 .contact-me{
 	color: black;
 }
 .contact-me: hover{
 	color: white;
 }
