body{
	background-color:#faeedc;
}
hr{
	border-top-style: dotted none none;
	width: 8%;
	border-color: #b2d4c4;
	border-width:10px;
	}
h1{
	color:#2a6975 ;
}
h3{
	color: #285f8f;
}
a{
	text-decoration: none;
}
